* {
    margin: 15px;
    font-family: monospace;
    overflow-x: hidden;
    text-align: center;
}

h1 {
    font-size: 35px;
    color: #1a304d;
}

p {
    font-size: 15px; 
    color: #5f82a3;
}

.translator {
    & div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @media only screen and (max-width: 800px) {
            flex-direction: column;
        }
    }
    & label {
        font-weight: bold;
        font-size: 25px;
        color: #5f82a3;        
    }
    &__input {
        width: 35vw;
        height: 30vh;
        margin: 0px 10px;
        font-size: 20px;
        overflow-wrap: break-word;
        text-align: left;
        @media only screen and (max-width: 800px) {
            width: 50vw;
            height: 20vh;
        }
        &::placeholder {
            color: #94A69F;
        }
    }
}

.translator--spanlang {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.readOnly {
    &::placeholder {
        color: white;
    }
}

.btn {
    
}