* {
  margin-top: 15px;
  font-family: monospace;
  overflow-x: hidden;
  text-align: center;
}

h1 {
  font-size: 35px;
  color: #1a304d;
}

p {
  font-size: 15px;
  color: #5f82a3;
}

.translator div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  .translator div {
    flex-direction: column;
    align-items: center;
  }
}
.translator label {
  font-weight: bold;
  font-size: 25px;
  color: #5f82a3;
}
.translator__input {
  width: 30vw;
  height: 30vh;
  font-size: 20px;
  overflow-wrap: break-word;
  text-align: left;
}
@media only screen and (max-width: 800px) {
  .translator__input {
    width: 70vw;
    height: 20vh;
  }
}
.translator__input::placeholder {
  color: #94a69f;
}

.translator--spanlang {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px;
}
@media only screen and (max-width: 800px) {
  .translator--spanlang {
    padding: 5px;
  }
}

.readOnly::placeholder {
  color: white;
}

.btn {
  border-radius: 10%;
  border-width: 1px;
}
